name: CI - Build & Test

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18

    - name: Install dependencies
      run: npm ci

    - name: Build Next.js app
      env:
        GUARDIAN_API_KEY: ${{ secrets.GUARDIAN_API_KEY }}
        NYT_API_KEY: ${{ secrets.NYT_API_KEY }}
        OFFLINE_MODE: ${{ secrets.OFFLINE_MODE }}
      run: npm run build

    - name: Run tests with coverage
      env:
        GUARDIAN_API_KEY: ${{ secrets.GUARDIAN_API_KEY }}
        NYT_API_KEY: ${{ secrets.NYT_API_KEY }}
        OFFLINE_MODE: ${{ secrets.OFFLINE_MODE }}
      run: npx vitest run --coverage

    # - name: Upload coverage report (optional)
    #   uses: actions/upload-artifact@v4
    #   with:
    #     name: coverage-report
    #     path: coverage

  docker-push:
    needs: test
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

# https://hub.docker.com/repository/docker/sreedockerhub19/news-search-service/general
    - name: Build Docker image
      run: docker build -t sreedockerhub19/news-search-service:latest .

    - name: Push Docker image to Docker Hub
      run: docker push sreedockerhub19/news-search-service:latest

